<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <title>SL Pixels</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./../routes/form3.js"></script>
</head>

<body class="form-body">

  <div class="row logo-container">


    <div class="col-lg-4">
      <img src="/images/logo.png" class="logo container" alt="logo-img">
    </div>
    <div class="col-lg-6">
      <h2 class="logo-heading">SL Pixels</h2>
    </div>
    <div class="col-lg-2 logout-button">
      <a href="/logout"><button role="button" class=" btn btn-outline-dark">Logout</button></a>
    </div>
  </div>

  <div class="container form  ">
    <form action="/form3" method="post" class="form-portion" autocomplete="off" enctype="multipart/form-data">
      <!-- <div class="form-group form-data">
        <label for="formGroupExampleInput">Key</label>
        <input type="password" class="form-control form-input" name="key">
      </div> -->
      <div class="form-group form-data">
        <label for="formGroupExampleInput">Image Source (Logo)</label>
        <select class="form-control form-input " style="height:50px" onchange="yesnoCheck(this);" name="logo_source">
          <option selected value="">No logo</option>
          <option value="url">Enter URL</option>
          <option value="img">Add Image</option>
        </select>
      </div>

      <div id="input-img" class="form-group form-data" style="display: none;">
        <label for="formFileSm" class="form-label">Add image (jpg/png)</label>
        <input name="img" class="form-control form-file-input form-control-sm" id="formFileSm" type="file" accept=".jpg,.png" />
      </div>

      <div id="input-url" class="form-group form-data" style="display: none;">
        <label for="formGroupExampleInput">Image_url</label>
        <input type="text" class="form-control form-input" name="url" id="img_url">
      </div>
        <input type="text" name="aspect_ratio" style="display: none;" id="aspectRatio">
        <input type="text" name="width_div" style="display: none;" id="widthDiv">

      <!-- <div class="form-group form-data">
        <label for="formGroupExampleInput2">Width of logo (px)</label>
        <input type="text" class="form-control form-input" name="w_logo" id="wLogo">
      </div> -->
      <div class="form-group form-data" style="display: block;">
        <div style="width: 40%; margin-right:10%; display:inline-block;">
          <label for="formGroupExampleInput2">Date</label>
          <input type="date" class="form-control form-input" name="date">
        </div>
        <div style="width: 40%; display:inline-block;">
          <label for="formGroupExampleInput2">Time</label>
          <input type="time" class="form-control form-input" name="time">
        </div>
      </div>

      <div class="form-group form-data">
        <label for="formGroupExampleInput">Choose Footer</label>
        <select class="form-control form-input " style="height:50px" name="footer_url">
          <option selected value="default">select</option>
          <option value="https://json.mycareerlift.com/pixels/templete2-04_03.gif">Zoom</option>
          <option value="https://json.mycareerlift.com/pixels/templete2-02_03.gif">Google Meet</option>
        </select>
      </div>

      <div class="form-group form-data">
        <label for="formGroupExampleInput2">Meeting ID/URL</label>
        <input type="text" class="form-control form-input" name="id">
      </div>
      <div class="form-group form-data">
        <label for="formGroupExampleInput2">Password</label>
        <input type="text" class="form-control form-input" name="password">
      </div>
      <button type="submit" class="form-button btn btn-outline-dark">Submit</button>
      <!-- <div class="form-group form-data">
        <label>*dimensions for rectangular logo area are (394 * 182)px. Please resize your image if it's more rectangular (grater than 3:1)</label>
      </div> -->
      
    </form>

  </div>
  <% if(flag === 0){ %>
  <script type="text/javascript">
    alert("Wrong Key!!");
  </script>
  <% } %>

  <% if(url === " "){ %>

  <% }else{ %>
  <div class="container form" style="margin: auto; width:80%">
    <div>
      <div style="border-bottom:2px solid #777 ;padding:20px;margin-bottom:20px">
        <label class="heading"> Response </label>
        <br/>
        <label style="padding-right:10px" class="heading">Date </label>
        <span> <%= date %> </span>
      </div>
      <div style="text-align:center; padding:20px" >
        <!-- <a href="<%= url %>" Download="img.png" target="_blank">
        <button type="button" class=" btn btn-outline-dark">Download</button>
      </a> -->
        <img src="<%= url %>" alt="" width="70%" style="margin:auto;" />
      </div>
    </div>

  </div>
  <% } %>

<script src="/js/custom.js" charset="utf-8"></script>

<script>
  document.getElementById("img_url").addEventListener("change", function(){
    var url = document.getElementById("img_url")
    if(url.value !== ""){
      const img = new Image();
      img.onload = function() {
        let a = document.getElementById("aspectRatio")
        let w = document.getElementById("widthDiv")
        a.value = this.width/this.height
        w.value = this.width
        
      }
      img.src = url.value;
    }

  });
  
  var _URL = window.URL || window.webkitURL;
$("#formFileSm").change(function (e) {
    var file, img;
    if ((file = this.files[0])) {
        img = new Image();
        var objectUrl = _URL.createObjectURL(file);
        img.onload = function () {
          let a = document.getElementById("aspectRatio")
          let w = document.getElementById("widthDiv")
          a.value = this.width/this.height
          w.value = this.width
          
          _URL.revokeObjectURL(objectUrl);
        };
        img.src = objectUrl;
    }
});

</script>


</body>

</html>
