<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <title>SL Pixels</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body class="preview-body">
  <div class="row logo-container">


    <div class="col-lg-4">
      <img src="/images/logo.png" class="logo container" alt="logo-img">
    </div>
    <div class="col-lg-6">
      <h2 class="logo-heading">SL Pixels</h2>
    </div>
    <div class="col-lg-2 logout-button">
      <a href="/logout"><button role="button" class=" btn btn-outline-dark">Logout</button></a>
    </div>
  </div>

<div class="container choose-div">
  <h6 class="choose-heading">Choose the middle image | Affiliate</h6>
  <hr>
</div>

  <div class=" card-body card-container row">

    <div class="card col-lg-4 preview-card" style="width: 18rem;">
      <img class="zoom card-img-top" src="https://json.mycareerlift.com/pixels/Affiliate%20_%20Live%20practice%20Training%20Templates-06.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Preview 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <form class="" action="/preview-form6" method="post">
          <input type="hidden" name="middle" value="https://json.mycareerlift.com/pixels/Affiliate%20_%20Live%20practice%20Training%20Templates-06.jpg">
          <button type="submit" class="btn btn-outline-dark">Get This</button>
        </form>
      </div>
    </div>
    <div class="card col-lg-4 preview-card" style="width: 18rem;">
      <img class="zoom card-img-top" src="https://json.mycareerlift.com/pixels/Affiliate%20_%20Live%20practice%20Training%20Templates-07.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Preview 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <form class="" action="/preview-form6" method="post">
          <input type="hidden" name="middle" value="https://json.mycareerlift.com/pixels/Affiliate%20_%20Live%20practice%20Training%20Templates-07.jpg">
          <button type="submit" class="btn btn-outline-dark">Get This</button>
        </form>
      </div>
    </div>
    <div class="card col-lg-4 preview-card" style="width: 18rem;">
      <img class="zoom card-img-top" src="https://json.mycareerlift.com/pixels/Affiliate%20_%20Live%20practice%20Training%20Templates-08.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Preview 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <form class="" action="/preview-form6" method="post">
          <input type="hidden" name="middle" value="https://json.mycareerlift.com/pixels/Affiliate%20_%20Live%20practice%20Training%20Templates-08.jpg">
          <button type="submit" class="btn btn-outline-dark">Get This</button>
        </form>
      </div>
    </div>
  </div>




</body>

</html>
